@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * 0.9);
}

*,
*::after,
*::before {
  box-sizing: border-box;
}
body {
  margin: 0;
  background: #121212;
}

.heading {
  position: absolute;
  color: white;
  font-size: 65px;
  left: 3%;
  top: -32px;
  font-family: "Bebas Neue";
}

.board {
  height: 100vh;
  width: 100vw;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, auto);
  justify-items: center;
  align-items: center;
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  display: flex;
  border: 1px solid white;
  align-items: center;
  justify-content: center;
  position: relative;
  cursor: pointer;
}
.cell:nth-child(1),
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}
.cell:nth-child(3n + 1) {
  border-left: none;
}
.cell:nth-child(3n + 3) {
  border-right: none;
}
.cell:nth-child(7),
.cell:nth-child(8),
.cell:nth-child(9) {
  border-bottom: none;
}

.cell.x,
.cell.circle {
  cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
  background-color: white;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  background-color: rgb(173, 173, 173);
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  border-radius: 10px;
}
.cell.x::before,
.board.x .cell:hover::before {
  transform: rotate(45deg);
}
.cell.x::after,
.board.x .cell:hover::after {
  transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
  content: "";
  position: absolute;
  width: calc(var(--mark-size) * 0.15);
  height: var(--mark-size);
  border-radius: 50%;
}
.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
  width: var(--mark-size);
  height: var(--mark-size);
}
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
  width: calc(var(--mark-size) * 0.7);
  height: calc(var(--mark-size) * 0.7);
  background-color: black;
}

.result-message {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(240, 240, 240, 0.5);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Righteous";
  font-size: 60px;
  padding-bottom: 35px;
}

.result-message button {
  width: 139px;
  height: 44px;
  background-color: black;
  border: none;
  color: white;
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Righteous";
  cursor: pointer;
}

.result-message button:active {
  width: 130px;
  height: 40px;
  font-size: 18px;
}

.result-message.show {
  display: flex;
}
